.App{
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #ccc;
}
.App .components{
     width: 414px;
     height:736px;
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 3px;
      
 }
 @media screen and (max-width:360px){
      .App .components{
           width: 360px;
           height: 640px;
      }
 }
 @media screen and (max-width:320px){
     .App .components{
          width: 320px;
          height: 568px;
     }
      
}
@media screen and (max-width:376px){
     .App .components{
          width: 375px;
          height:667px;
     }
      
}
 